/* Footer.module.css */

/* Wrapper geral para envolver o footer e o componente de contato */
.footerWrapper {
  position: relative;
  background-color: #1e1e1e;
  padding: 2rem 0;
  color: #fff;
}

/* Caixa de contato verde, que se projeta para cima do footer */
.contactBox {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: var(--corPrincipal);
  padding: 25px 40px;
  font-weight: 400;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  position: absolute;
  top: -50px; /* Faz o componente se projetar acima do footer */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; /* Garante que ele apareça por cima do footer */
  box-shadow: 0px 0px 10px #2bb6739d;
}

.contactText {
  font-size: 1.15rem;
}

.contactButton {
  padding: 10px 20px;
  background-color: var(--corLetras);
  color: var(--corContraste);
  font-size: 1.05rem;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease;
}

.contactButton:hover {
  background-color: var(--corPreto);
  color: var(--corLetras);
}

/* Footer principal */
.footer {
  background-color: var(--corPreto);
  padding: 5rem 3rem;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 0 1rem;
}

/* Coluna esquerda */
.leftContent {
  text-align: left; /* Alinha o texto à esquerda */
}

.logo {
  color: var(--corPrincipal);
  margin-bottom: 5px;
}

.tagline {
  font-style: italic;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 5px;
}

.tagline svg {
  color: var(--corFundo);
  font-size: 1.1rem;
}

/* Coluna direita - Social */

.socialTitle {
  margin-bottom: 5px;
  color: var(--corPrincipal);
}

.socialContent ul{
  display: flex;
  gap: 10px;
  list-style: none;
}

.socialContent ul li {
  width: 35px;
  height: 35px;
  background-color: var(--corFundo);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 5px;
}

/* Copyright */
.copyright {
  text-align: center;
  margin-top: 2rem;
  font-size: .8rem;
  color: var(--corLetras);
  font-weight: 300;
  padding-top: 2rem;
}

.developsLink {
  color: var(--corPrincipal);
  text-decoration: underline;
}

.developsLink:hover {
  text-decoration: underline;
}
.icons a {
  margin-right: 1rem;
}

.icons img {
  width: 32px;
  height: 32px;
}
