.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: white;
  position: relative;
  overflow: hidden;
  margin-top: 100px;
}

.heroContent {
  max-width: 50%;
  margin-left: 400px;
}

.upper,
.lower {
  font-size: 2.5rem;
  font-weight: lighter;
  color: white;
}

.highlight {
  color: greenyellow;
}

.lower {
  margin-top: 1rem;
}

.ctaButtons {
  margin-top: 2rem;
}

.buttonCTA,
.btn {
  padding: 0.75rem 1.5rem;
  margin-right: 1rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonCTA {
  background-color: greenyellow;
  color: #333;
  border: none;
}

.buttonCTA:hover {
  background-color: #b3ff00;
}

.btn {
  background-color: transparent;
  border: 2px solid greenyellow;
  color: greenyellow;
}

.btn:hover {
  background-color: greenyellow;
  color: #333;
}

.contactInfo {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: white;
}

.heroImg img {
  max-width: 100%;
  height: auto;
  margin-right: 200px;
}
