.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: white;
  position: relative;
  overflow: hidden;
  margin-top: 200px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
}

.rounded {
  position: absolute;
  width: 500px;
  height: 80px;
  right: 0;
  margin-bottom: 210px;
  margin-right: 900px;
  background-image: url("../imgs/rounded.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.heroContent {
  flex: 1;
  max-width: 600px;
}

.upper {
  font-size: 3.4rem;
  font-weight: 400;
  color: white;
}

.lower {
  font-size: 1.7rem;
  font-weight: lighter;
  color: white;
}

.highlight {
  color: #2bb673;
}

.lower {
  margin-top: 1rem;
}

.ctaButtons {
  margin-top: 2rem;
}

.buttonCTA,
.btn {
  padding: 0.75rem 1.5rem;
  margin-right: 1rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonCTA {
  background-color: #2bb673;
  color: #333;
  border: none;
}

.buttonCTA:hover {
  background-color: #b3ff00;
}

.btn {
  background-color: transparent;
  border: 2px solid #2bb673;
  color: #2bb673;
}

.btn:hover {
  background-color: greenyellow;
  color: #333;
}

.contactInfo {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: white;
}

.heroImg {
  flex-shrink: 0;
}

.heroImg img {
  max-width: 30%;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: contain;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .heroContent {
    margin-left: 0;
    max-width: 100%;
  }

  .heroImg {
    margin-top: 1.5rem;
  }
}
