.projetos {
  color: var(--corLetras);
  text-align: center;
  margin-top: 20px;
  font-size: 1.1rem;
  padding-bottom: 10rem;
}

.projetos h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.projetocard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 70px;
}

.textSection {
  max-width: 400px;
  text-align: left;
  color: var(--corLetras);
  font-weight: 500;
}

.textSection h2{
  font-size: 1.05rem;
  color: var(--corPrincipal);
  font-weight: 400;
  margin-bottom: 10px;
}

.textSection a {
  cursor: pointer;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--corLetras);
}

.textSection a:hover {
  text-decoration: underline;
}

.textSection a svg {
  color: var(--corPrincipal);
  font-size: 4rem;
  margin-top: 10px;
  rotate: 40deg;
}

.imageSection {
  position: relative;
}

.imageSection::before {
  position: absolute;
  content: url("../imgs/detalheProjeto1.svg");
  top: -25px;
  right: -25px;
  z-index: -1;
}

.imageSection::after {
  position: absolute;
  content: url("../imgs/detalheProjeto2.svg");
  bottom: -25px;
  left: -25px;
  z-index: -1;
}

.imageSection img {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}

