.serviços {
  text-align: center;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serviços h1 {
  color: white;
  font-size: 40px;
  margin-bottom: 40px;
}

.subtexto {
  background-color: #1e1e1e;
  box-shadow: 0px 4px 12px rgba(28, 27, 27, 0.8);
  padding: 30px;
  width: 710px;
  margin: auto;
  border-radius: 25px;
}

.subtexto p {
  color: white;
  font-size: 16px;
}

.cardsContainer {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  color: var(--corLetras);
  margin-top: 120px;
}

.card {
  background-color: var(--corPreto);
  width: 350px;
  padding: 20px 30px;
  height: 250px;
  border-radius: 5px;
  text-align: start;
  position: relative;
  transition: all .3s ease;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px #2bb673ad;
}

.card:hover h2 {
  color: var(--corPrincipal);
}

.card::before {
  content: url("../imgs/cardDetalhe.svg");
  position: absolute;
  left: 10px;
  top: 10px;
}

.card::after {
  content: url("../imgs/cardDetalhe.svg");
  position: absolute;
  right: 10px;
  bottom: 10px;
  rotate: 180deg;
}

.card h2 {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 30px;
  transition: all .3s ease;
}

.card h2 svg {
  color: var(--corPrincipal);
  font-size: 2.3rem;
}

.card ul {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.card ul li {
  font-size: 1.1rem;
  position: relative;
  display: flex;
  align-items: center;
}

.card ul li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  left: -10px;
  background-color: var(--corPrincipal);
  border-radius: 50%;
}
