.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 4rem;
  color: white;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  gap: 4rem;
  margin-top: 40px;
}

.heroContent {
  flex: 1;
  text-align: left;
  color: var(--corLetras);
  background-color: #1c1c1c;
  padding: 2rem;
  border-radius: 5px;
  max-width: 50%;
}

.blockquote {
  display: flex;
  flex-direction: column;
  font-size: 1.05rem;
  margin-bottom: 2rem;
  position: relative;
}

.highlight {
  color: var(--corPrincipal);
}

.heroContent p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.footer {
  color: var(--corPrincipal);
  margin-bottom: 2rem;
}

.footerP {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  & svg {
    color: var(--corPrincipal);
    font-size: 1.2rem;
  }
}

.ctaButton {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--corPrincipal);
  color: var(--corLetras);
  border-radius: 5px;
  font-size: 1.1rem;
  text-decoration: none;
  transition: all .2s ease;
}

.ctaButton:hover {
  background-color: var(--corPreto);
  color: var(--corPrincipal);
  box-shadow: 0px 0px 10px var(--corPrincipal);
}

.heroImg img {
  max-width: 80%;
  height: auto;
  object-fit: contain;
}

.heroImg {
  flex: 1;
  text-align: right;
  max-width: 45%;
}

.triangles {
  width: 50vw;
  height: 400px;
  background-image: url("../imgs/triangles2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  bottom: 50%;
  transform: translateY(-50%);
  right: 0;
  rotate: 180deg;
}