* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #292929;
  margin: auto;
}

.sobre {
  color: white;
  text-align: center;
  margin-top: 70px;
}
.contato {
  color: white;
  text-align: center;
  margin-top: 70px;
}
